@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import "tailwindcss";

/* Navbar component css*/
.navbar-section{
  position: relative;
  margin: 0;
  height: 50vh;
  min-width: 100%;
  border-radius: 0 0 20px 20px;
}
.navbar-background{
  height: 50vh;
  width: 100%;
  margin: 0;
  background-image: url("/img/home/navbar.png");
  filter: brightness(75%);
  object-fit: cover;
  background-repeat: no-repeat;
}
.navbar{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  height: max-content;
}
.navbar .home{
  padding: 16.5px;
}
.navbar form{
  border: gainsboro 1px solid;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 3px 3px 5px gainsboro;
  background-color: white;
  height: 3rem;
  overflow: hidden;
}
.navbar form .has-seperator{
  height: 100%;
  line-height: 2.5rem;
  justify-self: center;
  padding-left: 0.5rem;
  border-right: gainsboro 1px solid;
  padding-right: 1rem;
}
.navbar .locationIcon{
  color: red;
}
.navbar .search-icon{
  color: white;
  width: 3rem;
  height: 3rem;
  border: 1px solid gainsboro;
  border-radius: 50px;
  background-color: rgb(58, 175, 0);
  font-size: large;
}
.navbar .search-icon:hover{
  box-shadow: 0px -2px 10px 2px rgba(3, 140, 3, 0.3);
}
.navbar .Input{
  padding: 4.5px;
  font: Inter;
  margin:0 5px;
  border: 0;
  height: 2rem;
}
.navbar .optionsDropDown{
  position: absolute;
  padding: 5px;
  width: 10rem;
  overflow: hidden;
  background-color: white;
  border: 3px solid lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gainsboro;
}
.navbar .optionsDropDown div>span:nth-child(1){
  padding: 0 0.5rem 0.5rem 0.5rem;
  width:4rem;
  display: inline-block;
}
.navbar .optionsDropDown div>span:nth-child(3){
  padding:0 2px;
  width:1rem;
  display: inline-block;
  text-align: center;
}
.navbar .optionsDropDown div{
  padding:0.5rem 0;
}
.navbar .dateRangePicker{
  position: absolute;
  border: 3px solid lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gainsboro;
  margin: 5px auto;
}
/*End of Navbar section*/
/*Start of Locations section */
.locations{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.location{
    flex: 1;
    flex-basis: 20%;
    border-radius: 10px;
    margin:1rem;
    padding: 5px;
    line-height: 0.5rem;
    text-align: center;
}
.location .location-name{
  color: gray;
}
.location span{
  font-weight: bold;
}
.location .location-all-desc{
  margin-top: 1rem;
}
.location .location-pic{
  margin: 0 auto;
  border-radius: 10px;
  width: 225px;
  height: 225px;
  object-fit: cover;
}
a{
  color: black;
  text-decoration: inherit;
}
a.active{
  color: blueviolet;
  font-weight: bold;
}
/*start of hotels main page */
.hotelsMain{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  width: 100%;
}
.hotelsList-content{
  width: 50%;
}
.BookmarkList{
  overflow: auto;
  height: 30rem;
}
.hotelsMap{
  min-width: 50%;
  overflow: auto;
  height:100%;
  position: relative;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
.mapNearbyBtn{
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  z-index: 500;
  background-color: rgb(5, 142, 5);
  border-radius: 5px;
  width: 13rem;
}
.mapNearbyBtn:hover{
  background-color: rgb(2, 82, 2);
  font-weight: bolder;
}
/*end of hotels main page*/
/*Start of Hotels Component*/
.pl-2{
  padding-left: 2rem;
}
.hotel-min-card{
  display: flex;
  flex-direction: row;
  border-radius: 5px 5px 0 0;
  margin: 1rem 1rem;
  padding: 1rem;
  height: 20vh;
  overflow: hidden;
  text-wrap: wrap;
  font-size: small;
  border-bottom: 1px solid gray;
}
.hotel-min-card:hover{
  box-shadow: 1px -1px 5px 2px gray;
}
.hotel-min-card img{
  height: 95%;
  width: 30%;
  border-radius: 10px;
  padding-right: 1rem;
}
.bold{
  font-weight: bold;
}
/*End of the hotels Component*/
/*Start of Bookmarks components*/
.bookmark-min-card{
  display: flex;
  flex-direction: row;
  border-radius: 5px 5px 0 0;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
  text-wrap: wrap;
  font-size: small;
  border-bottom: 1px solid gray;
}
.bookmark-min-card:hover{
  box-shadow: 1px -1px 5px 2px gray;
}
/*End of bookmarks components*/
/*Start of the hotel indivisual view*/
.hotel-indivisual{
  display: flex;
  flex-direction:column;
  border-radius: 2px;
  margin: 1rem 0.5rem;
  padding: 1rem;
  max-width: 45vw;
  overflow: hidden;
  text-wrap: wrap;
  font-size: small;
  box-shadow: 10px -10px 5px 0 rgba(90, 109, 90, 0.7);
}
.hotel-indivisual img{
  height: 30vh;
  margin: 0 auto;
  border-radius: 10px;
  object-fit:cover;
}
/*End of the hotel indivisual view*/
.return-btn{
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 3rem;
  margin: 1rem 0 1rem 2rem;
  font-weight: bold;
}
.return-btn:hover{
  background-color: rgba(40, 85, 55, 0.7);
  color: white;
}
.no-color-btn{
  background-color: rgba(255, 255, 255, 0.773);
  border:0;
}
.near-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}
.width-60{
  width:60%;
  padding: 0.5rem 1rem;
  align-self: center;
  border-radius: 3px;
  border: 1px solid gray;
}

.errorP{
  color: rgb(78, 1, 1);
  background-color: rgb(237, 125, 125);
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
}
.confirmAlert{
  position: absolute;
  padding: 5px;
  width: 10rem;
  overflow: hidden;
  background-color: white;
  border: 3px solid lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gainsboro;
  z-index: 1000;
}
/*Start of add bookmark*/
.add-bookmark-form{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  min-width: 30vw;
  max-width: 35vw;
  border: 1px solid gray;
  height: 40vh;
  border-radius: 3px;
}
.add-bookmark-form label{
  color: green;
  padding: 0.5rem;
  width:4rem;
  font-weight: bold;
  margin: 1rem 0;
  display: inline-block;
}
.add-bookmark-form input[type="text"]{
  border: 1px solid gray;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 3px;
  display: inline-block;
  width: calc(30vw - 7rem);
}
.add-bookmark-form span.flagOn{
  margin: 1rem;
}
/*End of add bookmark*/

@media only screen and (max-width: 600px) {
  .location{
    flex-basis: 80%;
  }
}

